.App {
  text-align: center;
}
.myContainer {
  position: relative
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.body1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 20px;
  margin: 20px;
}
.body2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 450px;
  border: 1px solid grey;

}
